package components

import "github.com/salt-today/salttoday2/internal/store"

templ CommentsListComponent(comments []*store.Comment, nextUrl string) {
	<div class="space-y-12">
		for _, comment := range comments {
			@CommentComponent(comment)
		}
	</div>
	if len(comments) > 0 {
		<div id="pagination" hx-get={ nextUrl } hx-trigger="revealed" hx-swap="outerHTML"></div>
	}
}
