package components

import "github.com/salt-today/salttoday2/internal/store"

templ UsersListComponent(users []*store.User, orderBy int, topUser *store.User, nextUrl string) {
	for _, comment := range users {
		@UserComponent(comment, orderBy, topUser)
	}
	if len(users) > 0 {
		<tr hx-get={ nextUrl } hx-trigger="revealed" hx-swap="outerHTML"></tr>
	}
}
