package components

import "github.com/salt-today/salttoday2/internal/store"
import "fmt"

templ UserComponent(user *store.User) {
	<div>
		<div>
			<span><a href={ templ.URL(fmt.Sprintf("/user/%d", user.ID)) }>{ user.UserName }</a></span>
		</div>
		<div>
			<span>👍 { fmt.Sprintf("%d", user.TotalLikes) } 👎 { fmt.Sprintf("%d", user.TotalDislikes) }</span>
		</div>
	</div>
}
