package components

import "github.com/salt-today/salttoday2/internal/store"

templ CommentsListComponent(comments []*store.Comment) {
<div class="space-y-4">
  for _, comment := range comments {
  @CommentComponent(comment)
  }
</div>
}
