package components

import "github.com/salt-today/salttoday2/internal/store"

templ CommentsListComponent(comments []*store.Comment) {
	for _, comment := range comments {
		@CommentComponent(comment)
	}
}
