package views

import "github.com/salt-today/salttoday2/internal/ui/components"
import "github.com/salt-today/salttoday2/internal/store"

templ Home(queryOpts *store.CommentQueryOptions, comments []*store.Comment, nextUrl string) {
	@Page(true) {
		@components.CommentsFormComponent(queryOpts)
		<div id="comments" hx-post="/comments">
			if len(comments) > 0 {
				@components.CommentsListComponent(comments, nextUrl)
			} else {
				@components.NoResultsFound()
			}
		</div>
	}
}
