package views

import "github.com/salt-today/salttoday2/internal/ui/components"
import "github.com/salt-today/salttoday2/internal/store"

templ Home(comments []*store.Comment) {
@Page(true) {
<div id="comments" hx-post="/comments">
  @components.CommentsListComponent(comments)
</div>
}
}
