<html>
    <head>
        <meta name="og:site_name" content="Salt Today" />
        <meta property="og:title" content="A Comment by {{ .UserId }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://salttoday.com/api/v1/comments/{{ .ID }}" />
        <meta property="og:image" content="https://baconmockup.com/640/360" />
    </head>
    <div>
        <h2>{{ .UserId }} - {{ .ArticleID }} - {{ .Time }}</h2>
        <p> {{ .Text }} </p>
        <span>Dislikes: {{ .Dislikes }}</span>
        <span>Likes: {{ .Likes }}</span>
    </div>
</html>