package views

import "github.com/salt-today/salttoday2/internal/server/ui/components"
import "github.com/salt-today/salttoday2/internal/store"

templ Users(users []*store.User, nextUrl string) {
	@Page(true, nil) {
		<div id="users">
			if len(users) > 0 {
				@components.UsersListComponent(users, nextUrl)
			} else {
				@components.NoResultsFound("users")
			}
		</div>
	}
}
